.header {
  margin-top: 0px;
}
.headerTitles {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.headerTitleLg {
  position: absolute;
  top: 15%;
}
.headerImg {
  width: 100%;
  height: 450px;
  margin-top: 0px;
  object-fit: cover;
}
