body {
  margin: 0;
  padding: 0;
  background-color: #e2e2e2;
  font-family: "Poppins", "Roboto", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1,
h2,
h3,
h4,
p {
  color: #1e1e1e;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
a {
  text-decoration: none;
  color: black;
}
* {
  box-sizing: border-box;
}
