.c-post {
  width: 100%;
  /* height: calc(100vh - 80px); */
  display: grid;
  place-items: center;
}

.c-postContainer {
  position: relative;
  width: 80%;
  height: auto;
  padding: 20px;
  border-radius: 12px;
  display: flex;
  flex-direction: column;
}

.c-postGroup {
  margin-top: 30px;
  display: flex;
  flex-direction: column;
}
.c-postTitle,
.c-postTextarea {
  font-family: Poppins;
  font-size: 18px;
  border: none;
  border-radius: 2px;
  padding: 15px 0;
  background-color: #e2e2e2;
}

.c-postTitle {
  font-size: 25px;
}
.c-postTextarea {
  font-size: 20px;
  height: 100vh;
}
.c-postPublish {
  position: absolute;
  top: 50px;
  right: 20px;
  color: #e2e2e2;
  background-color: #004d93;
  padding: 10px;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  font-size: 15px;
  font-weight: bold;
}

.c-postContainer button:hover {
  color: #004d93;
  background-color: white;
  border: solid 1px #004d93;
}

.c-postTitle:focus,
.c-postTextarea:focus {
  outline: none;
}
